<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>


 <%= form_for @pizza do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :ingredients %><br>
  <%= f.text_field :ingredients %><br>

  <%= f.label "Restaurant" %><br>
  <%= f.collection_select :restaurant_id, @restaurants, :id, :name %><br>

  <%= f.submit %>


<% end %>
