<h2>Create New Pizza !</h2>


<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
    <% end %>
  </ul>
<% end %>


<%= form_for @pizza do |form| %>
  <%= form.text_field :name, placeholder: 'name' %>
  <%= form.text_area :ingredients, placeholder: 'ingredients' %>
  <%= form.collection_select :restaurant_id, @restaurants, :id, :name %>
  <%= form.submit %>
<% end %>